
body {
    background-color: var(--color-background);
    color: var(--color-terciario);
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    padding: 20px;
    background: var(--color-primario);
    color: var(--color-background);
}

.portfolio {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 40px;
    flex-wrap: wrap;
}

.project {
    background: var(--color-secundario);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}

.project:hover {
    transform: translateY(-10px);
}

img {
    width: 100%;
    max-width: 300px;
    border-radius: 10px;
}
.fotoproyecto {
    height: 2%;
  }