*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    color: inherit;
    font: inherit;
}
img, video{
    max-width: 100%;
    display: inline-block;
}
h1{
    color:#C5D1F8;
}
h2{
    color: #FFFFFF;
}
p{
    color: #DCFCF7;
}
body{

    background-color: #030020;
    font-family: 'Franklin Gothic Medium';
    

}