body {
    background-image: url(/assets/img/fondoskill.jpg);
    
    color: #ffffff; /* Color de texto */
    font-family: 'Libre Franklin', sans-serif;
    padding-top: 0px; /* Espacio para el navbar fijo */
}

header {
    position: top;
    width: 100%;
    z-index: 1000;
}

nav {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
}

h1 {
    opacity: 0;
    transform: translateY(-20px);
    animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.skill-card {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
    backdrop-filter: blur(10px); /* Efecto Glassmorphism */
}

.skill-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.3);
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    position: relative;
    bottom: 0;
    width: 100%;
}

